<div class="container">
    <div class="sidenav">
        <span class="material-symbols-outlined" (click)="navigate('/insert')">add</span>
        <span class="material-symbols-outlined" (click)="navigate('/projects')">assignment</span>
        <span class="material-symbols-outlined" (click)="navigate('/dashboard')">space_dashboard</span>
        <span class="material-symbols-outlined" (click)="logout()">logout</span>

    </div>


    <div class="main">

        <div class="topnav">
            <p>Projects Listing</p>
        </div>

        <div class="data">
            <div class="top-row">
                <div class="search">
                    <input type="text" class="form-control" [(ngModel)]="searchitem" (keyup.enter)="search()"
                        placeholder="Search projects">
                    <button class="btn" (click)="search()">Search</button>
                </div>
                <select [(ngModel)]="sortoption" (change)="changePage(this.page)">
                    <option value="name">Name</option>
                    <option value="priority">Priority</option>
                    <option value="reason">Reason</option>
                    <option value="type">Type</option>
                    <option value="division">Division</option>
                    <option value="category">Category</option>
                    <option value="priority">Priority</option>
                    <option value="department">Department</option>
                    <option value="location">Location</option>
                    <option value="status">Status</option>
                </select>
            </div>
            <table>
                <tr>
                    <th>Project Name</th>
                    <th>Reason</th>
                    <th>Type</th>
                    <th>Division</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Department</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th></th>

                </tr>
                <tr *ngFor="let item of projects">
                    <td class="name-cell">
                        <div class="pname">
                            <p>{{item.name}}</p>
                            <p>{{item.start_date}} to {{item.end_date}}</p>
                        </div>
                    </td>
                    <td>{{item.reason}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.division}}</td>
                    <td>Quality {{item.category}}</td>
                    <td>{{priority(item.priority)}}</td>
                    <td>{{item.department}}</td>
                    <td>{{item.location}}</td>
                    <td>{{item.status}}</td>
                    <td>
                        <div class="buttons">
                        <button id="start" (click)="start(item._id)">Start</button>
                        <button id="close" (click)="close(item._id)">Close</button>
                        <button id="cancel" (click)="cancel(item._id)">Cancel</button>
                    </div>
                    </td>
                </tr>
            </table>
            <div class="page-row">
                <div *ngFor="let item of range(pages)" class="page-item">
                    <button (click)="changePage(item+1)">{{item + 1}}</button>
                </div>
            </div>
        </div>
    </div>
</div>