@use '../main/_main';

        textarea {
            resize: none;
            width: 300px;
            height: 50px;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 40px;

            .item {
                display: flex;
                flex-direction: column;
            }

            select {
                width: 235px;
                height: 40px;
            }
            input[type="date"] {
                width: 230px;
                height: 40px;
            }

            .row {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                align-items: center;


               
                .item{
                    margin-top: 20px;
                    margin-right: 100px;
                }

                @media screen and (max-width: 1020px) {
                    flex-direction: column;

                    button{
                        margin-right: 100px;
                    }
                }
            }

            .row4{
                font-size: 18px;
                font-weight: bold;
            }

            button{
                margin-top: 20px;
                
                border-radius: 25rem;
                border: none;
                color: white;
                font-size: 16px;
                background-color: blue;
                height: 40px;
                width: 200px;
                justify-self: center;
                &:disabled{
                    background-color: rgba(0, 0, 255, 0.55);
                }
            }

           
        }
