<div class="container">
    <div class="sidenav">
        <span class="material-symbols-outlined" (click)="navigate('/insert')">add</span>
        <span class="material-symbols-outlined" (click)="navigate('/projects')">assignment</span>
        <span class="material-symbols-outlined" (click)="navigate('/dashboard')">space_dashboard</span>
        <span class="material-symbols-outlined" (click)="logout()">logout</span>

    </div>


    <div class="main">

        <div class="topnav">
            <p>Create Project</p>
        </div>
        <form #insertForm="ngForm" (ngSubmit)="insertProject()">
            <div class="data">
                <textarea placeholder="Enter project name" name="name" [(ngModel)]="project.name" required></textarea>
            </div>

            <div class="row row1">
                <div class="item">
                    <label for="reason">Reason</label>
                    <select name="reason" id="reason" [(ngModel)]="project.reason">
                        <option value="Business">Business</option>
                        <option value="Dealership">Dealership</option>
                        <option value="Transport">Transport</option>


                    </select>
                </div>

                <div class="item">

                    <label for="type">Type</label>
                    <select name="type" id="type" [(ngModel)]="project.type" required>
                        <option value="Internal">Internal</option>
                        <option value="External">External</option>
                        <option value="Vendor">Vendor</option>
                    </select>
                </div>
                <div class="item">

                    <label for="div">Division</label>
                    <select name="div" id="div" [(ngModel)]="project.division" required>
                        <option value="Compressor">Compressor</option>
                        <option value="Filters">Filters</option>
                        <option value="Pumps">Pilters</option>
                        <option value="Glass">Glass</option>
                        <option value="Water Heater">Water Heater</option>

                    </select>
                </div>
            </div>
            <div class="row row2">
                <div class="item">

                    <label for="category">Category</label>
                    <select name="category" id="category" [(ngModel)]="project.category" required>
                        <option value="A">Quality A</option>
                        <option value="B">Quality B</option>
                        <option value="C">Quality C</option>
                        <option value="D">Quality D</option>

                    </select>
                </div>
                <div class="item">

                    <label for="priority">Priority</label>
                    <select name="priority" id="priority" [(ngModel)]="project.priority" required>
                        <option value="0">High</option>
                        <option value="1">Medium</option>
                        <option value="2">Low</option>


                    </select>
                </div>
                <div class="item">

                    <label for="department">Department</label>
                    <select name="department" id="department" [(ngModel)]="project.department" required>
                        <option value="Strategy">Strategy</option>
                        <option value="Finance">Finance</option>
                        <option value="Quality">Quality</option>
                        <option value="Maintenance">Maintenance</option>
                        <option value="Stores">Stores</option>
                    </select>
                </div>
            </div>
            <div class="row row3">

                <div class="item">

                    <label for="start_date">Start Date as per business plan</label>
                    <input type="date" name="start_date" id="start_date" [(ngModel)]="project.start_date" required>
                </div>
                <div class="item">

                    <label for="end_date">End Date as per business plan</label>
                    <input type="date" name="end_date" id="end_date" [(ngModel)]="project.end_date" required>
                </div>
                <div class="item">

                    <label for="location">Location</label>
                    <select name="location" id="location" [(ngModel)]="project.location" required>
                        <option value="Pune">Pune</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Mumbai">Mumbai</option>

                    </select>
                </div>
            </div>
            <div class="row row4">
                <p>status: Registered</p>
                <div class="error">{{error}}</div>
            </div>
            <div class="row rowbtn">
                <button type="submit" [disabled]="!insertForm.valid">Save Project</button>
            </div>


        </form>

    </div>
</div>